<?xml version="1.0"?>
<configuration>

    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>

 <location path="Forum.aspx">
     <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
 </location>
  
  <location path="Posts.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
    <location path="CreateThread.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>


</configuration>
